.car {
  border-bottom-style: dashed;
  margin-bottom: 1vh;
}

.stop {
  transform: translateX(0);
}

.options,
.control {
  display: flex;
  flex-direction: row;
  margin: 0.3vh 0;
}

.select,
.remove,
.start,
.stop {
  height: 5vh;
  margin-right: 0.2rem;
  text-transform: uppercase;
  font-size: 1vw;
}

.title {
  display: flex;
  align-items: center;
}

.img {
  display: flex;
  align-items: end;
}

.finish {   
  margin-left: 75vw;
  width: 100%;
  background: url(../../assets/finish.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
